h1, h2 {
	font-family: "Libre Bodoni", serif;
}

 p, ul, li {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
 }
body {
  background-image: url('image/Tiles.jpg');
  background-color: rgb(248, 245, 240);
  background-size: auto;
  background-repeat: repeat;
}
