/* My fonts */
@font-face {
  font-display: swap;
  font-family: 'Aoboshi One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aoboshi-one-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/cormorant-garamond-v21-latin-500italic.woff2') format('woff2'); 
}

/* Fluid Type Scale*/
:root {
  --step--2: clamp(12px, 10px + 0.4vw, 14px);
  --step--1: clamp(14px, 12px + 0.5vw, 16px);
  --step-0:  clamp(16px, 14px + 0.6vw, 18px);
  --step-1:  clamp(20px, 16px + 1vw, 24px);
  --step-2:  clamp(26px, 20px + 1.5vw, 32px);
  --step-3:  clamp(32px, 26px + 2vw, 40px);
  --step-4:  clamp(40px, 32px + 2.5vw, 48px);
}

/* Styling for body itself */
body {
  margin: 0;
  padding: 20px;
  background: #f3f3f3;
  font-family: 'Cormorant Garamond', serif;
}

/* Headers/Paragraphs   */
h1 {
  font-size: var(--step-4);
  font-family: 'Aoboshi One', serif;
  text-align: center;
  margin-bottom: 0.4em;
}

h2 {
  font-size: var(--step-2);
  font-family: 'Aoboshi One', serif;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

p {
  font-size: var(--step-0);
  line-height: 1.6;
  max-width: 70ch;
  margin: 0 auto;
  color: #333;
}

p.intro {
  text-align: center;
  margin-bottom: 40px;
  max-width: 800px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.member {
  background: white;
  border-radius: 8px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-align: center;
}

.member img { /* Image fixing some images need resizing */
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
  
.member h2 {
  margin: 10px 0 8px 0;
}
