* {
    color: white;
}

h1, h2 {
	font-family: "Libre Bodoni", serif;
}
h1 {
    font-size: 2em;
	border-bottom: 4px dotted white;
    padding-top: 10px;
    padding-bottom: 5px
       
}
p, ul, li {
	font-family: "Quicksand", sans-serif;
	font-size: 16px
ul {
  list-style-position: inside;
}
	
}

body {
     background-color: rgb(160,208, 231);
     background-size: auto;
	 background-image: url('../img/Waves.jpg');
	 background-repeat: repeat;
	 background-size: 1000px;
     padding: 0 20px 20px 20px;
     margin: 0;
}
article {
   max-width: 760px;
   margin: 0 auto;
}
