* {
    text-shadow:
    -1px -1px 1px #000,
     1px -1px 1px #000,
    -1px  1px 1px #000,
     1px  1px 1px #000;
	color: white;
}

h1, h2 {
	font-family: "Libre Bodoni", serif;
}

 p, ul, li {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

h1, h2, p {
  font-style: italic;
  text-align: center;
  margin: 30px auto;
  background-color: rgba(140, 162, 175, 0.85);
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
  width: fit-content;
  max-width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul {
  display: inline-block;
  text-align: left;
  padding-left: 1.2em;
  margin: 0 auto;
}
	
body {
     background-color: rgb(160,208, 231);
     background-size: auto;
	 background-image: url('../img/Waves.jpg');
	 background-repeat: repeat;
	 background-size: 1590px; 
     padding: 0 20px 20px 20px;
     margin: 0;
	 text-align: center;
}
article {
   max-width: 760px;
   margin: 0 auto;
}
