@font-face {
  font-display: swap;
  font-family: 'Aoboshi One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aoboshi-one-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/cormorant-garamond-v21-latin-500italic.woff2') format('woff2'); 
}
