h1, h2, p, a {
    text-shadow:
    -1px -1px 1px #000,
     1px -1px 1px #000,
    -1px  1px 1px #000,
     1px  1px 1px #000;
    color: white;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    color: white;
}

.content-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Main content */
.main-content {
    flex: 2;
	min-width: 0;
}

/* sidebar (aside) */
aside {
	flex: 1;
    min-width: 280px;
    max-width: 400px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* General styling */
.section {
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1, h2 {
    font-family: 'Libre Bodoni', serif;
    color: #b30000;
}

.final-section {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 2px solid #ccc;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
